# Rust
RUST_LOG=info

# App config
BIND_HOST=127.0.0.1

RECEIVER_BIND_ADDRESS=0.0.0.0:8001

PROCESSOR_DRIFT_PROGRAM_ID=dRiftyHA39MWEi3m9aunc5MzRF1JYuBsbn6VPcn33UH
PROCESSOR_MAX_TABLE_SIZE_GB=40.0

METRICS_PORT=9090

# ClickHouse
CLICKHOUSE_DB=drift
CLICKHOUSE_USER=drift
CLICKHOUSE_PASSWORD=clickhouse_password
CLICKHOUSE_URL=http://clickhouse:8123

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=gf_security_admin_password

# Prometheus
PROMETHEUS_RETENTION=7d
PROMETHEUS_MAX_SIZE=5GB
